extends layout

block body
	#graph.container-fluid
		script(src='/js/d3.min.js')
		link(rel="stylesheet" type="text/css" href="/css/d3-tip-style.css")
		script(src='/js/d3-tip.js')
		script(src='/js/d3-graph.js')
		script(type='text/javascript').
			$("body").css("overflow", "hidden");
			graph('/graph/data');
			$('#graph').focus();