doctype html
html
	head
		meta(charset='utf-8')
		meta(content='IE=edge', http-equiv='X-UA-Compatible')
		meta(content='width=device-width, initial-scale=1', name='viewport')
		title= 'Thacher-Graphics | ' + title
		link(href='/css/bootstrap.min.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet')
		<!--[if lt IE 9 ]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/helper-functions.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js')
		link(href='//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css', rel='stylesheet')
		link(href='/css/select2-bootstrap.css', rel='stylesheet')
		script(src='//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.7/crossfilter.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
		script(src='/js/user-selection.js')
		script(src='/js/spin.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js')
		script(type='text/javascript').
			function resetPass() {
				$('#pass-modal').modal({
					keyboard: false,
					backdrop: 'static'
				});

				$('#confirmReset').click(function() {
					$.get('\/change');
					window.location = window.location.origin + "/logout";
				});
			}
	body
		nav.navbar.navbar-default.navbar-static.navbar-fixed-top(role='navigation')
			.container-fluid
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') Thacher Graphics
				if user
					#navbar-collapse.collapse.navbar-collapse
						ul.nav.navbar-nav
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown')
									| Graphs
									span.caret
								ul.dropdown-menu(role='menu')
									li
										a(href='/graphs/main') Main Graph
									li
										a(href='/graphs/hive') Hive Graph
						ul.nav.navbar-nav
							li.dropdown
								a.dropdown-toggle(href='#' data-toggle='dropdown')
									| Navigate To
									span.caret
								ul.dropdown-menu(role='menu')
									li
										a(onclick='$("#search-user-modal").modal();') Student Page
									li
										a(onclick='$("#class-page-modal").modal();') Class Page
						if user && groups && groups.Mod
							ul.nav.navbar-nav
								li.dropdown
									a.dropdown-toggle(href='#', data-toggle='dropdown')
										| Mod Powers
										span.caret
									ul.dropdown-menu(role='menu')
										li
											a(onclick="$('#rel-modal').modal({keyboard: false});") Add Relationship
										li
											a(onclick="$('#del-rel-modal').modal({keyboard: false});") Delete Relationship
						ul.nav.navbar-nav.navbar-right
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown')
									| #{user.givenName} #{user.surname}
									span.caret
								ul.dropdown-menu(role='menu')
									li
										a(id='resetPass' href='javascript:{}' onclick='resetPass()') Reset Password	
									li
										a(href='/logout') Logout
		#pass-modal(role='dialog').modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						h4.modal-title Password Reset
					.modal-body
						p.
							Are you sure you wish to change your password? If so, click the "Change Password" button below and you will be sent an email with further details.
							If not, click "Cancel".
					.modal-footer
						button(type="button")#confirm-reset.btn.btn-danger Change Password
						button(type="button" data-dismiss="modal").btn.btn-default Cancel
		#search-user-modal(role='dialog').modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						h4.modal-title Search For User
					.modal-body
						.form-group
							input(type='hidden')#select-user.form-control
						.form-group
							input(type='hidden')#select-grade.form-control
						.form-group
							input(type='hidden')#select-gender.form-control
					.modal-footer
						button(type="button")#confirm-search.btn.btn-danger.disabled Goto Page
						button(type="button" data-dismiss="modal").btn.btn-default Cancel
		#class-page-modal(role='dialog').modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						h4.modal-title Navigate To Class Page
					.modal-body
						.form-group
							input(type='hidden')#select-grade.form-control
					.modal-footer
						button(type="button")#confirm-search.btn.btn-danger.disabled Goto Page
						button(type="button" data-dismiss="modal").btn.btn-default Cancel
		if user
			script(type='text/javascript' defer).
				var sel = new UserSelection();
				sel.createSelection({
					parentID: '#search-user-modal',
				});
				$('#search-user-modal #select-user').on('change', function (e) {
					if(!$('#search-user-modal #select-user').val())
						$('#search-user-modal #confirm-search').addClass('disabled');
					else
						$('#search-user-modal #confirm-search').removeClass('disabled');
				});
				$('#search-user-modal #confirm-search').click(function (e) {
					window.location = "http://" + window.location.host + "/pages/users/" + $('#search-user-modal #select-user').val();
				});

				sel.createSelection({
					parentID: '#class-page-modal',
					toggleUser: false,
					toggleGender: false,
					toggleYear: true,
					yearMessage: 'Select a year',
				})
				$('#class-page-modal #select-grade').on('change', function (e) {
					if(!$('#class-page-modal #select-grade').val())
						$('#class-page-modal #confirm-search').addClass('disabled');
					else
						$('#class-page-modal #confirm-search').removeClass('disabled');
				});
				$('#class-page-modal #confirm-search').click(function (e) {
					window.location = "http://" + window.location.host + "/pages/class/" + $('#class-page-modal #select-grade').val();
				});
		if user && groups && groups.Mod
			//ADD RELATION
			#rel-modal(role='dialog').modal.fade
				.modal-dialog
					.modal-content
						.modal-header
							h4#rel-modal-title.modal-title Select First Person
						.modal-body
							form(role='form')
								.form-group
									input(type='hidden')#select-user.form-control
								.form-group
									input(type='hidden')#select-grade.form-control
								.form-group
									input(type='hidden')#select-gender.form-control
						.modal-footer
							button(type="button" data-dismiss='modal')#confirm-add.btn.btn-danger.disabled Select Person
							button(type="button" data-dismiss="modal")#cancel-add.btn.btn-default Cancel
			#rel-confirm-modal(role='dialog').modal.fade
				.modal-dialog
					.modal-content
						.modal-header
							h4.modal-title Relationship Submitted
						.modal-body
							p The relationship you entered has been submitted to the database.
							p If the submitted relationship already exists, no action will be taken.
							p To see the results, please reload your page. 
							p Thank you for participating.
						.modal-footer
							button(type="button" data-dismiss="modal").btn.btn-default Dismiss

			//REQUEST DELETION OF RELATION
			#del-rel-modal(role='dialog').modal.fade
				.modal-dialog
					.modal-content
						.modal-header
							h4#del-rel-modal-title.modal-title Select First Person
						.modal-body
							form(role='form')
								.form-group
									input(type='hidden')#select-user.form-control
								.form-group
									input(type='hidden')#select-grade.form-control
								.form-group
									input(type='hidden')#select-gender.form-control
						.modal-footer
							button(type="button" data-dismiss='modal')#confirm-del.btn.btn-danger.disabled Select Person
							button(type="button" data-dismiss="modal")#cancel-del.btn.btn-default Cancel
			#del-rel-confirm-modal(role='dialog').modal.fade
				.modal-dialog
					.modal-content
						.modal-header
							h4.modal-title Deletion Request Submitted
						.modal-body
							p The relationship you requested the deletion of has been tagged in the database.
							p The request will be reviewed, and in all likelihood complied with.
							p The results will be delayed somewhat, so please check back on it at a later date.
							p Thank you for participating.
						.modal-footer
							button(type="button" data-dismiss="modal").btn.btn-default Dismiss

			script(type='text/javascript' defer).
				//
				// ADDITION MODAL INTERACTIVITY
				//

				sel.createSelection({
					parentID: '#rel-modal',
				});
				var ids = {a: 0, b: 0};
				var state = 0;
				var user = $('#rel-modal #select-user');
				$('#rel-modal #select-user').on('change', function (e) {
					if(!user.val())
						$('#rel-modal #confirm-add').addClass('disabled');
					else
						$('#rel-modal #confirm-add').removeClass('disabled');
				});

				$('#rel-modal #confirm-add').click(function (e) {
					if(state == 0) {
						ids['a'] = +user.val();
						$('#rel-modal').modal('hide');
						resetAddModal();
						setTimeout(function() {$('#rel-modal #rel-modal-title').text('Select Second Person');}, 250);
						setTimeout(function() {$('#rel-modal').modal('show');}, 1000);
						state++;
					} else {
						ids['b'] = +user.val();
						$('#rel-modal').modal('hide');
						resetAddModal();
						
						$('#rel-confirm-modal').modal();
						state = 0;
						$.post("/data/users", ids);
					}
				});

				$('#rel-modal #cancel-add').click(function() {
					ids = {a: 0, b: 0};
					state = 0;
					resetAddModal();
				});

				function resetAddModal() {
					$('#rel-modal #rel-modal-title').text('Select First Person');
					user.select2("val", "");
					user.trigger('change');
					for(var i in sel['#rel-modal'].dimensions)
						sel['#rel-modal'].dimensions[i].filterAll();
				}

				//
				// DELETION MODAL INTERACTIVITY
				//

				sel.createSelection({
					parentID: '#del-rel-modal'
				});

				var dIds = {a: 0, b: 0};
				var dState = 0;
				var dUser = $('#del-rel-modal #select-user');
				$('#del-rel-modal #select-user').on('change', function (e) {
					if(!dUser.val())
						$('#del-rel-modal #confirm-del').addClass('disabled');
					else
						$('#del-rel-modal #confirm-del').removeClass('disabled');
				});

				$('#del-rel-modal #confirm-del').click(function (e) {
					if(dState == 0) {
						dIds['a'] = +dUser.val();
						$('#del-rel-modal').modal('hide');
						console.log('/data/users/' + dIds['a'] + '/rels');
						$.ajax({
							url: '/data/users/' + dIds['a'] + '/rels',
							type: 'GET',
							async: false,
							success: function(rdata) {
								sel.createSelection({
									parentID: '#del-rel-modal',
									data: rdata,
								});
								setTimeout(function() {$('#del-rel-modal #del-rel-modal-title').text('Select Second Person');}, 250);
								setTimeout(function() {$('#del-rel-modal').modal('show');}, 1000);
								dUser.select2("val", "");
								dState++;
							}
						})
					} else {
						dIds['b'] = +dUser.val();
						$('#del-rel-modal').modal('hide');
						resetDelModal();
						$('#del-rel-confirm-modal').modal();
						$.ajax({
							url: '/data/users',
							type: 'DELETE',
							data: dIds,
						});
					}
				});

				$('#del-rel-modal #cancel-del').click(function() {
					dIds = {a: 0, b: 0};
					dState = 0;
					resetDelModal();
				});

				function resetDelModal() {
					sel.createSelection({
						parentID: '#del-rel-modal'
					});
					$('#del-rel-modal #del-rel-modal-title').text('Select First Person');
					dUser.select2("val", "");
					dUser.trigger('change');
					for(var i in sel['#del-rel-modal'].dimensions)
						sel['#del-rel-modal'].dimensions[i].filterAll();
				}

				
					

		block body