extends layout

block body
	#graph.container-fluid
		script(src='/js/d3-tip.js')
		script(src='/js/graph-main.js')
		script(type='text/javascript').
			$("body").css("overflow", "hidden");
			var resize = function(width, height) {
				height = $(window).height() - $('nav').outerHeight();
				width = $(window).innerWidth();
				return [width, height];
			}

			graph({queryURL: '/graphs/main/data', onWindowResize: resize, search: true, id: 'graph', search: true});
			$('#graph').focus();