extends layout

block body
	.container
		#graph
		script(src='/js/d3.min.js')
		link(rel="stylesheet" type="text/css" href="/css/d3-tip-style.css")
		script(src='/js/d3-tip.js')
		script(src='/js/graph-main.js')
		script(src='/js/jquery.tablesorter.min.js')
		script(type='text/javascript' defer).

			var loadTables = function() {
				document.title = document.title.slice(0, document.title.indexOf('|') + 2) + nodes[0].data.name;
				var rowString = '<tr class="data-row" href="/pages/users/{ID}"><td>{ID}</td><td>{Name}</td><td>{Gender}</td><td><a href="/pages/class/{Year}">{Year}</a></td></tr>';
				
				$('#user-data > tbody:last').append(rowString.supplant({ID: nodes[0].id, Name: nodes[0].data.name, Gender: nodes[0].data.gender, Year: nodes[0].data.year }));

				var relTable = $('#rels-data > tbody:last');
				for(var i in nodes.slice(1)) {
					relTable.append(rowString.supplant({ID: nodes.slice(1)[i].id, Name: nodes.slice(1)[i].data.name, Gender: nodes.slice(1)[i].data.gender, Year: nodes.slice(1)[i].data.year }))
				}

				$(".data-row").click(function() {
					window.document.location = $(this).attr("href");
				});
				$("#rels-data").tablesorter();
			}

			var resize = function(width, height) {
				width = $('.container').outerWidth();
				height = width * (2 / 10);

				return [width, height];
			}

			graph({queryURL: '/pages/users/#{id}/data', onDataLoad: loadTables, onWindowResize: resize, id: 'graph'});

		h2 User
		table#user-data.table.table-hover
			thead
				tr
					th ID
					th Name
					th Gender
					th Grade
			tbody
		br
		h2 Relationships
		table#rels-data.table.table-hover
			thead
				tr
					th ID
					th Name
					th Gender
					th Grade
			tbody